@use "@/01-positivus/styles/breakpoints" as bp;


ol.steps-list {
  margin-left: 3px;
  margin-right: 3px;
  counter-reset: count 0;

  &, * {
    transition: all .2s;
  }

  .steps-item-wrapper {
    padding: 40px 56px 40px 60px;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: min-content 1fr 58px;
    row-gap: 30px;
    column-gap: 24px;
    align-items: center;

    background-color: var(--gray-color);

    counter-increment: count 1;

    cursor: pointer;

    @include bp.mobi {
      padding: 30px;
      margin-bottom: 20px;
      grid-template-columns: min-content 1fr 30px;
      column-gap: 33px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "0" counter(count);

      font-family: 'Space Grotesk', sans-serif;
      font-size: 60px;
      line-height: 77px;
      font-weight: 600;
      font-variant-numeric: normal;

      @include bp.mobi {
        font-size: 30px;
      }
    }

    span.steps-item__title {
      font-size: 30px;
      font-weight: 500;

      @include bp.mobi {
        font-size: 18px;
      }
    }

    button {
      width: 58px;
      height: 59px;
      background-color: transparent;
      border: none;

      @include bp.mobi {
        width: 30px;
        height: 30px;

        img {
          width: 13px;
          height: 13px;
        }
      }
    }

    hr {
      border: none;
      height: 1px;
      background-color: #000;

      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    p {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
      margin-bottom: 13px;
    }

    hr, p {
      display: none;
    }

    &.opened {
      background-color: var(--green-color);

      hr, p {
        display: block;
      }
    }
  }
}