header#header {
  height: 68px;

  margin-top: 4px;
  margin-bottom: 70px;

  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #logo {
    display: flex;
    flex-direction: row;
    gap: 14px;

    align-items: center;

    user-select: none;

    #logo__icon {
      width: 36px;
      height: 36px;
    }

    #logo__text {
      font-size: 40px;
      font-weight: 600;
    }
  }

  nav {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 20px;

    list-style: none;

    @media screen and (max-width: 1130px) {
      width: 100%;
      gap: unset;
      justify-content: space-between;
    }

    a {
      height: min-content;
      color: #000;
      text-decoration: none;
      position: relative;

      &:not(.outlined)::before {
        content: '';
        width: 100%;
        height: 0;

        position: absolute;
        left: 0;
        bottom: 4px;

        background-color: var(--green-color);
        opacity: .6;
        transition: all .2s;
      }

      &:not(.outlined):hover::before {
        height: 10px;
      }

      &.outlined {
        padding: 20px 35px;

        border: 1px solid #000;
        border-radius: 14px;
      }
    }
  }

  button#burger-menu {
    display: none;
    padding: 10px 8px;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    
    &:hover {
      background-color: #f3f3f3;
    }
  }

  @media screen and (max-width: 1023px) {
    nav {
      display: none !important;
    }

    #burger-menu {
      display: flex !important;
      align-items: center;
    }
  }
}

#about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 70px;

  #about-us__left {
    width: 531px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  #about-us__right {
    display: flex;
    justify-content: center;
    flex-shrink: 3;

    img {
      width: 100%;
    }
  }
}

#proposal {
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  border-radius: 45px;
  background-color: var(--gray-color);
  box-sizing: border-box;
  padding: 0 60px;

  #proposal__left {
    width: 500px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 60px 0;
  }

  #proposal__right {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      max-width: 100%;
      transform: scale(1.1);
    }
  }
}

#team {
  margin-bottom: 100px;

  .btn-wrapper {
    display: flex;
    justify-content: end;
  }
}

footer {
  padding: 55px 60px 50px;
  background-color: var(--dark-color);

  border-top-left-radius: 45px;
  border-top-right-radius: 45px;

  * {
    color: #fff;
  }

  #footer-top {
    margin-bottom: 70px;

    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 840px) {
      align-items: center;
      flex-direction: column;
      margin-bottom: 37px;
    }

    #footer-logo {
      width: 180px;
      margin-bottom: 37px;
    }

    nav#footer-nav {
      display: flex;
      gap: 40px;

      @media screen and (max-width: 840px) {
        align-items: center;
        flex-direction: column;
        gap: 15px;
      }

      a {
        &:visited {
          color: #fff;
        }
      }
    }

    #footer-links {
      display: flex;
      gap: 20px;

      @media screen and (max-width: 990px) {
        display: none;
      }

      a {
        img {
          transition: .1s all;
        }

        &:hover img {
          transform: scale(1.2);
        }
      }
    }
  }

  #footer-middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #footer-contacts-wrapper {
      display: flex;
      flex-direction: column;
      gap: 27px;

      #contact-info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        * {
          text-decoration: none;

          @media screen and (max-width: 1100px) {
            text-align: center;
          }
        }
      }

      @media screen and (max-width: 1100px) {
        align-items: center;
      }
    }

    #subscription-form {
      padding: 58px 40px;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      border-radius: 14px;
      background-color: #292A32;

      @media screen and (max-width: 850px) {
        flex-direction: column;
      }

      input {
        max-width: 100%;
        height: min-content;
        padding: 20px 35px;

        border-radius: 14px;

        &[type="email"] {
          color: #fff;
          font-size: 20px;
          border: 1px solid #fff;
          background-color: transparent;
        }

        &[type="submit"] {
          color: #000;
          font-size: 20px;
          background-color: var(--green-color);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    @media screen and (max-width: 1100px) {
      gap: 37px;
      flex-direction: column;
    }
  }

  hr {
    margin: 50px 0;
  }

  #footer-bottom {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}