#header {
  height: 68px;

  margin-top: 4px;
  margin-bottom: 70px;

  display: flex;
  gap: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #logo {
    display: flex;
    flex-direction: row;
    gap: 14px;

    align-items: center;

    user-select: none;

    #logo__icon {
      width: 36px;
      height: 36px;
    }

    #logo__text {
      font-size: 40px;
      font-weight: 600;
    }
  }

  nav {
    width: 100%;

    ul {
      display: flex;
      gap: 40px;
      font-size: 20px;

      list-style: none;

      @media screen and (max-width: 1130px) {
        gap: unset;
        justify-content: space-between;
      }

      li {
        a {
          color: #000;
          text-decoration: none;
          position: relative;

          &:not(.outlined)::before {
            content: '';
            width: 100%;
            height: 0;

            position: absolute;
            left: 0;
            bottom: 4px;

            background-color: var(--green-color);
            opacity: .6;
            transition: all .2s;
          }

          &:not(.outlined):hover::before {
            height: 10px;
          }

          &.outlined {
            padding: 20px 35px;

            border: 1px solid #000;
            border-radius: 14px;
          }
        }
      }
    }
  }
}

#about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 70px;

  #about-us__left {
    width: 531px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  #about-us__right {
    flex-shrink: 3;
  }
}

#proposal {
  margin-bottom: 140px;
  display: flex;
  border-radius: 45px;
  background-color: var(--gray-color);
  box-sizing: border-box;
  padding: 0 60px;

  #proposal__left {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 60px 0;
  }

  #proposal__right {
    display: flex;
    justify-content: center;
    width: calc(100% - 500px);

    img {
      transform: scale(1.1);
    }
  }
}

#team {
  margin-bottom: 100px;

  .btn-wrapper {
    display: flex;
    justify-content: end;
  }
}

footer {
  padding: 55px 60px 50px;
  background-color: var(--dark-color);

  border-top-left-radius: 45px;
  border-top-right-radius: 45px;

  #footer-top {
    display: flex;
    justify-content: space-between;

    nav#footer-nav {
      display: flex;
      gap: 40px;

      a {
        color: #fff;

        &:visited {
          color: #fff;
        }
      }
    }

    #footer-links {
      display: flex;
      gap: 20px
    }
  }

  #footer-middle {
    #footer-contacts-wrapper {
      display: flex;
      flex-direction: column;
      gap: 27px;

      #contact-info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        color: #fff;
      }
    }
  }
}