@font-face {
  font-family: "RF-Dewi-Extended";
  src: url("../fonts/RFDewiExpanded-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "RF-Dewi-Extended";
  src: url("../fonts/RFDewiExpanded-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "RF-Dewi-Extended";
  src: url("../fonts/RFDewiExpanded-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "RF-Dewi-Extended";
  src: url("../fonts/RFDewiExpanded-Light.ttf");
  font-weight: 300;
}