@use '@/02-prohouse/styles/breakpoints' as bp;

* {
  font-family: 'RF-Dewi', sans-serif;
}

#variables {
  --container-width: min(1180px, calc(100% - 32px));

  --color-black-200: #121420;
  --color-black-100: #1B1F33;
  --color-black-90:  #151928;

  --color-grey-200: #2A3150;
  --color-grey-150: #3D4467;
  --color-grey-100: #545B79;
  --color-grey-90:  #5E6379;
  --color-grey-50:  #C3C5CE;

  --color-blue-200: #083AE1;
  --color-blue-100: #356DF6;
  --color-blue-50:  #3F86F0;

  --color-red-100: #F61010;
}

// TYPOGRAPHY

h1 { font-size: 48px; font-family: 'RF-Dewi-Extended', sans-serif; }
h2 { font-size: 36px; font-family: 'RF-Dewi-Extended', sans-serif; }
h3 { font-size: 20px; }
h4 { font-size: 20px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }
p  { font-size: 18px; }

@include bp.mobi {
  h1 { font-size: 36px; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; }
  h4 { font-size: 20px; }
  h5 { font-size: 20px; }
  h6 { font-size: 20px; }
  p  { font-size: 16px; }
}

section {
  margin-top: 50px;
  margin-bottom: 50px;

  @include bp.mobi {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.container {
  margin: 0 auto;
  width: var(--container-width);
}

.btn {
  font-size: 16px;
  color: #fff;
  background-color: #356DF6;
  font-weight: 600;
  border: none;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}

.btn-32 {
  padding: 11.5px 32px 13.5px;
}

.btn-24 {
  padding: 8.5px 24px 10.5px;
}

.btn-14 {
  padding: 7px 14px;
}