@use '@/01-positivus/styles/breakpoints' as bp;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

* {
  font-family: 'Space Grotesk', sans-serif;
  line-height: normal;
  box-sizing: border-box;
}

// VARIABLES

#variables {
  --green-color: #b9ff66;
  --dark-color: #191a23;
  --gray-color: #f3f3f3;

  --border-radius: 45px;

  --container-width: min(1240px, calc(100% - 40px));

  --transition-timing: .5s;
}

// TYPOGRAPHY

h1 {
  font-size: 60px;
  line-height: normal;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

@include bp.mobi {
  h1 {
    font-size: 43px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}

.btn {
  width: max-content;
  padding: 20px 35px;

  font-size: 20px;
  line-height: 28px;
  height: min-content;

  background-color: var(--dark-color);
  color: #fff;

  border-radius: 14px;

  border: none;
  user-select: none;

  transition: all .5s;

  &:hover {
    background-color: #333341;
  }
}

.w-100 {
  width: 100% !important;
}

.container {
  margin: 0 auto;
  width: var(--container-width);
}

.bgc-green {
  width: min-content;
  padding: 7px;
  background-color: var(--green-color);
  border-radius: 10px;
  color: #000;
}

.unselectable {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.main-border {
  border: 1px solid var(--dark-color);
  box-shadow: 0 5px 0 0 var(--dark-color);
  border-radius: var(--border-radius);
}

button:hover {
  cursor: pointer;
}