@use '@/01-positivus-landing-page/styles/breakpoints' as bp;

@mixin serviceTheme($bgColor, $headingColor, $headingBgColor, $circleColor, $pathColor, $border) {
  background-color: $bgColor;

  @if $border == true {
    border: 1px solid #000;
    border-bottom: 5px solid #000;
  }

  h3 {
    color: $headingColor;
    background-color: $headingBgColor;
  }

  .learn-more {
    p {
      color: $circleColor;
    }

    circle {
      fill: $circleColor;
    }

    path {
      fill: $pathColor;
    }
  }
}

#services-list {
  width: 100%;
  margin-bottom: 110px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 40px;

  @include bp.mobi {
    grid-template-columns: 1fr;
  }

  .service {
    width: 100%;
    max-width: 600px;
    min-height: 310px;

    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 210px;
    justify-content: space-between;
    padding: 50px;

    border-radius: var(--border-radius);
    transition: all .1s;

    @include bp.mobi {
      grid-template-columns: 1fr 148px;
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 0 #000;
      cursor: pointer;
    }

    .heading-wrapper {
      max-width: 224px;

      @include bp.mobi {
        max-width: 200px;

        grid-row: 1 / 2 !important;
        grid-column: 1 / 3 !important;
      }
    }

    h3 {
      height: min-content;
      padding: 0 7px;
      display: inline;
      border-radius: 7px;
      line-height: 39px;

      grid-column: 1 / 2;
      grid-row: 1 / 2;

      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;

      @include bp.mobi {
        line-height: 34px;
      }
    }

    span.learn-more {
      height: min-content;

      grid-column: 1 / 2;
      grid-row: 2 / 3;

      align-self: end;

      &:hover {
        cursor: pointer;

        svg path {
          animation: .43s ease-in-out arrowAnim;
        }
      }

      @media only screen and (max-width: 460px) {
        p {
          display: none;
        }
      }
    }

    img {
      grid-column: 2 / 3;
      grid-row: 1 / 3;

      align-self: center;

      @include bp.mobi {
        width: 148px;
        align-self: end;

        grid-row: 2 / 3 !important;
        grid-column: 2 / 3 !important;
      }
    }

    // THEMES

    &.service-green {
      @include serviceTheme(var(--green-color), black, white, var(--dark-color), var(--green-color), true);
    }

    &.service-gray {
      @include serviceTheme(var(--gray-color), black, var(--green-color), var(--dark-color), var(--green-color), true);
    }

    &.service-dark {
      @include serviceTheme(var(--dark-color), black, white, white, black, false);
    }
  }
}

@keyframes arrowAnim {
  48% {
    transform: translate(40px, -30px);
  }

  49% {
    opacity: 0;
  }

  50% {
    transform: translate(-30px, 40px);
  }

  51% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
  }
}