@use '@/01-positivus-landing-page/styles/breakpoints' as bp;

@mixin arrow($circleColor, $pathColor) {
  .arrow {
    circle {
      fill: $circleColor;
    }

    path {
      fill: $pathColor;
    }
  }
}

#services-list {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

  gap: 40px;

  margin-bottom: 110px;

  .service {
    width: 100%;
    max-width: 600px;
    min-height: 310px;

    justify-self: center;
    display: flex;
    justify-content: space-between;
    padding: 50px;

    transition: all .1s;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 0 #000;
      cursor: pointer;
    }

    h3 {
      border-radius: 7px;
      padding: 7px;
      line-height: 52px;
      display: inline;

      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }

    .bg-green {
      background-color: var(--green-color);
    }

    .bg-white {
      background-color: #fff;
    }

    .service__left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .service__right {
      display: flex;
      align-items: center;

      img {
        width: 210px;
      }
    }
  }

  .service-gray {
    @include arrow(var(--dark-color), var(--green-color));
    background-color: var(--gray-color);
  }


  .service-dark {
    background-color: var(--dark-color);
    border-radius: 45px;

    @include arrow(#fff, #000);

    p {
      color: #fff;
    }
  }

  .service-green {
    @include arrow(var(--dark-color), var(--green-color));
    background-color: var(--green-color);
  }
}

@keyframes arrowAnim {
  48% {
    transform: translate(40px, -30px);
  }

  49% {
    opacity: 0;
  }

  50% {
    transform: translate(-30px, 40px);
  }

  51% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
  }
}

.learn-more:hover {
  cursor: pointer;
  
  svg path {
    animation: .43s ease-in-out arrowAnim;
  }
}