@use '@/01-positivus-landing-page/styles/breakpoints' as bp;

@mixin arrow($circleColor, $pathColor) {
  .arrow {
    circle {
      fill: $circleColor;
    }

    path {
      fill: $pathColor;
    }
  }
}

#services-list {
  width: 100%;
  margin-bottom: 110px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 40px;

  @include bp.mobi {
    grid-template-columns: 1fr;
  }

  .service {
    width: 100%;
    max-width: 600px;
    min-height: 310px;

    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 210px;
    justify-content: space-between;
    padding: 50px;

    transition: all .1s;

    @include bp.mobi {
      grid-template-columns: 1fr 148px;

      img {
        width: 148px;
      }
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 0 #000;
      cursor: pointer;
    }

    .heading-wrapper {
      max-width: 224px;

      @include bp.mobi {
        max-width: 200px;
      }
    }

    h3 {
      height: min-content;
      padding: 0 7px;
      display: inline;
      border-radius: 7px;
      line-height: 39px;

      grid-column: 1 / 2;
      grid-row: 1 / 2;

      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;

      @include bp.mobi {
        line-height: 34px;
      }
    }

    span.learn-more {
      height: min-content;

      grid-column: 1 / 2;
      grid-row: 2 / 3;

      align-self: end;
    }

    img {
      grid-column: 2 / 3;
      grid-row: 1 / 3;

      align-self: center;
    }

    .bg-green {
      background-color: var(--green-color);
    }

    .bg-white {
      background-color: #fff;
    }
  }

  .service-gray {
    @include arrow(var(--dark-color), var(--green-color));
    background-color: var(--gray-color);
  }


  .service-dark {
    background-color: var(--dark-color);
    border-radius: 45px;

    @include arrow(#fff, #000);

    p {
      color: #fff;
    }
  }

  .service-green {
    @include arrow(var(--dark-color), var(--green-color));
    background-color: var(--green-color);
  }
}

@keyframes arrowAnim {
  48% {
    transform: translate(40px, -30px);
  }

  49% {
    opacity: 0;
  }

  50% {
    transform: translate(-30px, 40px);
  }

  51% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
  }
}

.learn-more:hover {
  cursor: pointer;
  
  svg path {
    animation: .43s ease-in-out arrowAnim;
  }
}