.section-title {
  margin-bottom: 80px;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 40px;

  .section-title__heading {
    height: min-content;

    padding: 0 7px;

    line-height: normal;
    font-weight: 600;

    background-color: var(--green-color);
    border-radius: 7px;
  }
}

@media only screen and (max-width: 870px) {
  .section-title {
    margin-bottom: 40px;

    flex-direction: column;
    align-items: center;
    gap: 30px;


    .section-title__heading {
      width: min-content;
    }
  }
}