@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

#landing * {
  font-family: 'Space Grotesk', sans-serif;
}

// VARIABLES

:root {
  --green-color: #b9ff66;
  --dark-color: #191a23;
  --gray-color: #f3f3f3;

  --border-radius: 7px;
}

// TYPOGRAPHY

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
}