.btn {
  width: max-content;
  padding: 20px 35px;

  font-size: 20px;

  background-color: var(--dark-color);
  color: #fff;

  border-radius: 14px;

  border: none;

  &:hover {
    background-color: #333341;
  }
}

.w-100 {
  width: 100% !important;
}

#container {
  margin: 0 auto;
  width: min(1240px, calc(100% - 40px));
}

.unselectable {
  user-select: none;
}

#header {
  height: 68px;

  margin-top: 4px;
  margin-bottom: 70px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #logo {
    display: flex;
    flex-direction: row;
    gap: 14px;

    align-items: center;

    user-select: none;

    #logo__icon {
      width: 36px;
      height: 36px;
    }

    #logo__text {
      font-size: 40px;
      font-weight: 600;
    }
  }

  nav {
    ul {
      display: flex;
      gap: 40px;
      font-size: 20px;

      list-style: none;

      li {
        a {
          color: #000;
          text-decoration: none;

          &.outlined {
            padding: 20px 35px;

            border: 1px solid #000;
            border-radius: 14px;
          }
        }
      }
    }
  }
}

#about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 70px;

  #about-us__left {
    width: 531px;

    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  #about-us__right {
    img {
      width: 600px;
    }
  }
}

#proposal {
  margin-bottom: 140px;
  display: flex;
  border-radius: 45px;
  background-color: var(--gray-color);
  box-sizing: border-box;
  padding: 0 60px;

  #proposal__left {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 60px 0;
  }

  #proposal__right {
    display: flex;
    justify-content: center;
    width: calc(100% - 500px);

    img {
      transform: scale(1.1);
    }
  }
}

button:hover {
  cursor: pointer;
}