#companies {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;

  img {
    filter: grayscale(100%);
    transition: .15s all;

    &:hover {
      filter: grayscale(0);
    }
  }
}