@use "@/01-positivus-landing-page/styles/breakpoints" as breakpoints;

.steps-item {
  padding: 41px 60px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: var(--gray-color);

  transition: all .2s;
  cursor: pointer;

  .steps-item__top {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .steps-item__container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;

    .steps-item__number {
      font-size: 60px;
      font-weight: 600;

      @include breakpoints.mobi {
        font-size: 30px;
      }
    }

    .steps-item__title {
      font-size: 30px;
      font-weight: 600;
    }
  }

  &.revealed {
    background-color: var(--green-color);
  }

  button {
    width: 58px;
    height: 58px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #000;
    border-radius: 50%;
  }

  hr {
    border: none;
    height: 1px;
    background-color: #000;
  }

  hr, p {
    display: none;
  }

  &.opened {
    background-color: var(--green-color);

    hr, p {
      display: block;
    }
  }
}