@use "@/01-positivus-landing-page/styles/breakpoints" as bp;

.testimonials {
  padding: 84px 0 68px 0;
  margin-bottom: 140px;

  color: white;

  background-color: var(--dark-color);
  border-radius: var(--border-radius);

  transition: padding var(--transition-timing);
  overflow: hidden;

  @include bp.mobi {
    padding: 30px 0 60px 0;
  }

  .testimonials-list {
    transition: transform .5s, margin-bottom var(--transition-timing);
    display: flex;
    gap: 50px;
    margin-bottom: 120px;

    @include bp.mobi {
      margin-bottom: 60px;
    }

    blockquote.testimonials-item {
      width: 606px;
      max-width: calc(100% - 60px);
      flex-shrink: 0;

      p.testimonials-text {
        padding: 48px 52px;
        margin-bottom: 48px;

        border: 1px solid var(--green-color);
        border-radius: var(--border-radius);

        @include bp.mobi {
          padding: 30px;
        }

        &::before {
          content: "\201C";
        }

        &::after {
          content: "\201D";
        }
      }

      .testimonials-author {
        margin-left: 80px;

        font-size: 20px;

        .testimonials-name {
          color: var(--green-color);
        }
      }
    }
  }

  .testimonials-controls {
    width: 600px;
    max-width: calc(100% - 60px);

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: transparent;
      border: none;

      &.testimonials-arrow:disabled {
        opacity: .3;
      }
    }

    .testimonials-navigation-stars {
      display: flex;
      gap: 19px;

      button {
        svg path {
          fill: #fff;
        }

        &.selected {
          svg path {
            fill: var(--green-color);
          }
        }
      }
    }
  }
}