@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');

#landing * {
  font-family: 'Space Grotesk', sans-serif;
}

// VARIABLES

:root {
  --green-color: #b9ff66;
  --dark-color: #191a23;
  --gray-color: #f3f3f3;

  --border-radius: 7px;
}

// TYPOGRAPHY

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

.btn {
  width: max-content;
  padding: 20px 35px;

  font-size: 20px;

  background-color: var(--dark-color);
  color: #fff;

  border-radius: 14px;

  border: none;

  &:hover {
    background-color: #333341;
  }
}

.w-100 {
  width: 100% !important;
}

#container {
  margin: 0 auto;
  width: min(1240px, calc(100% - 40px));
}

.unselectable {
  user-select: none;
}

button:hover {
  cursor: pointer;
}